<h1 style="text-align:center">LIST OF ALL EATERIES</h1>


<div style="text-align:center">
<h2><li style="list-style-type: none;"><a href='eateries/new'>+ Add New Eateries +</a></li></h2>
</div>

  <div class="list-update-delete" style="text-align:center">
    <hr width="50%">
<% for eatery in @eateries %>
  <%= eatery.name %>
  

  <form action="/eateries/<%= eatery.id %>/edit" method="get">
    <input type="submit" class="delete-button" value="Update Eatery">
  </form>
  <form action="/eateries/<%= eatery.id %>/delete" method="post">
    <input type="submit" class="delete-button" value="Delete Eatery">
  </form>

    <hr width="50%">


<% end %>

</div>
