<h1 style="text-align:center">LIST OF ALL EATERIES</h1>


<div style="text-align:center">
<h2><li style="list-style-type: none;"><a href='eateries/new'>+ Add New Eateries +</a></li></h2>

  <h3>
    <hr width="50%">
<% for eatery in @eateries %>
   <%= eatery.name %>
    <hr width="50%">


<% end %>

</h3>

<h2><li style="list-style-type: none;"><a href='eateries/edit'>- Update Eatery -</a></li></h2>
</div>
