<h1 style="text-align:center">LIST OF ALL EATERIES</h1>

<div style="text-align:center">
<% for eatery in @eateries %>
  <%= eatery.name %>
<br/>

<% end %>
<br/>
<li><a href='eateries/new'>Add New Eateries</a></li>
</div>
