<h1 style="text-align:center">LIST OF ALL EATERIES</h1>


<div style="text-align:center">
<h2><li><a href='eateries/new'>Add New Eateries</a></li></h2>
  <br/>
  <h4>
<% for eatery in @eateries %>
   <%= eatery.name %>
<hr/>
   <br/>

<% end %>
  <br/>

  </h4>
</div>
