<form action="/add_eateries" method="POST">

  <label for="eatery-name-input">Eatery Name:</label>
  <input id="eatery-name-input" type="text" name="name" value="">

  <input type="submit" name="" value="Add New Eatery">

</form>
