<form action="/add_eateries" method="POST" style="text-align:center">
<p>
  <label for="eatery-name-input">Eatery Name:</label>
  <input id="eatery-name-input" type="text" name="name" value="">

  <input type="submit" name="" value="Add New Eatery">
</p>
</form>
