<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Burger Tracker</title>
    <link rel="icon" href="/images/burger-icon.png"/>
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="/burgerdeals">Deals By Burger</a> </li>
        <li> <a href="/daydeals">Deals By Day</a> </li>
        <li> <a href="/eaterydeals">Deals By Eatery</a> </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
