<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <title>Burger Tracker</title>
      <link rel="stylesheet" type="text/css" href="/style.css">
      <link rel="icon" href="/images/burger_icon.png"/>

</head>
  <body>
    <div class="header-img">
    <a href="/">
      <img style="align:middle" src="/images/JARODS-BURGER-TRACKER.png" alt="">
    </a>
  </div>
  <hr size="10" color="white">
  <div class="topnav" id="myTopnav">
    <a class="active" href="/">HOME</a>
    <a href="/eateries">ALL EATERIES</a>
    <a href="/burgers">ALL BURGERS</a>
    <a href="/burger_deals">ALL DEALS</a>
  </div>
    <br/>
    <div class="flex-container">
      <div class="left">
        <a href="/burger_deals/burgerdeals"><h2 style="text-align:center">DEALS BY BURGER</h2></a>
      </div>
      <div class="center">
        <a href="/burger_deals/daydeals"><h2 style="text-align:center">DEALS BY DAY</h2></a>
        </div>
      <div class="right">
        <a href="/burger_deals/eaterydeals"><h2 style="text-align:center">DEALS BY EATERY</h2></a>
      </div>
    </div>
    <br/>
  </div>
    </main>
    <%= yield %>
  </body>
</html>
