<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <title>Burger Tracker</title>
      <link rel="stylesheet" type="text/css" href="/style.css">
      <link rel="icon" href="/images/burger_icon.png"/>

</head>
  <body>
    <div class="header-img">
    <a href="/">
      <img style="align:middle" src="/images/JARODS-BURGER-TRACKER.png" alt="">
    </a>
  </div>
      <h2 style="text-align:center">What Deals Will Jarod Find Today?...</h2>
    <nav>
      <ul>
        <li> <a href="/">Home</a> </li>
        <li> <a href="/eateries">All Eateries</a> </li>
        <li> <a href="/burgers">All Burgers</a> </li>
        <li> <a href="/burger_deals">All Deals</a> </li>

      </ul>
    </nav>
    <div style="align:center">
    <div class="mybox">
      <div class="left">
        <a href="/burger_deals/burgerdeals"><h2 style="text-align:center">DEALS BY BURGER</h2></a>
      </div>
    </div>
    <br/>
    <div class="mybox">
      <div class="center">
        <a href="/burger_deals/daydeals"><h2 style="text-align:center">DEALS BY DAY</h2></a>
      </div>
    </div>
    <br/>
    <div class="mybox">
      <div class="right">
        <a href="/burger_deals/eaterydeals"><h2 style="text-align:center">DEALS BY EATERY</h2></a>
      </div>
    </div>
    <br/>
  </div>
    </main>
    <%= yield %>
  </body>
</html>
