

body {
  margin: auto;
  background-color: black  ;
  margin: 20;
  padding: 20;
  padding-bottom: 200px;
  padding-top: 20px
}

.container {
    margin: auto;
    width: 100%;
    /*height: 50px;*/
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-container>div {
margin: auto;
text-align: center;
width: 400px;
height: 70px;
line-height: 70px;
border: 5px solid white;
padding: 10px 10px 10px 10px;
}




h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  color: white;
}

h2 {
  color: white;
  font-size: 2em;
}

h1 {
  font-size: 3em;
  color: white;
  margin-bottom: 20px;
}

a, a:link, a:visited {
  color: white;
  text-decoration: none;
  font-family: Arial Black;
}

p, p:link, p:visited {
  color: white;
  text-decoration: none;

}

div.header-img {
  text-align: center;
  margin: auto;
  width:100%;
  height:100%;
}

div.burger-icons {
  text-align: center;
  margin: auto;
}

div.day-icons {
  text-align: center;
  margin: auto;
}

div.eatery-icons {
  text-align: center;
  margin: auto;
}




/* Add a black background color to the top navigation */
div.topnav {
    background-color: grey;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
div.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
}

/* Change the color of links on hover */
div.topnav a:hover {
    background-color: white;
    color: black;
}

/* Add a color to the active/current link */
div.topnav a.active {
    background-color: white;
    color: black;
}
