<h2 style="text-align:center">SELECT DEAL BY BURGER TYPE</h2>

<br/>
<div class="burger-icons">
<% @burgers.each do |burger| %>
  <a href="/burger_deals/deals_by_burger/<%= burger.name %>">
    <img src="/images/<%= burger.name %>-ICON.png" alt=""> </a>
<% end %>
</div>
