<h2 style="text-align:center">SELECT DEAL BY DAY</h2>

<br/>
<div class="flex-container-day">
  <div>
<% @days.each do |day| %>
  <a href="/burger_deals/deals_by_day/<%= day.name %>">
    <img src="/images/<%= day.name %>-ICON.png" alt="" </a>
<% end %>
</div>
</div>
