<h1 style="text-align:center">SELECT BURGER BY DAY</h1>

<% @days.each do |day| %>
  <a href="/burger_deals/daydeals/<%= day.id %>">
    <img src="/images/<%= day.name %>-ICON.svg" alt="" width="13%" height="13%"> </a>

<% end %>
