<h3 style="text-align:center">SELECT BURGER BY EATERY</h3>

<% @eateries.each do |eatery| %>
  <a href="/burger_deals/eaterydeals/<%= eatery.name %>">
    <img src="/images/<%= eatery.name %>-ICON.png" alt=""> </a>

<% end %>
