<h1 style="text-align:center">LIST OF ALL BURGERS DEALS</h1>

<% for burger_deal in @burger_deals %>
 <%= burger_deal.deal_name %>
<br/>

<% end %>
<br/>
<li><a href='burger_deals/new'>Add New Burger Deal</a></li>
