<h1 style="text-align:center">LIST OF ALL DEALS</h1>


<div style="text-align:center">
<h2><li style="list-style-type: none;"><a href='burger_deals/new'>+ Add New Deal +</a></li></h2>

  <h3>
    <hr width="50%">
<% for burger_deal in @burger_deals %>
   DEAL NAME: <%= burger_deal.deal_name %>  <br/> DAY ID: <%= burger_deal.day_id %> <br/> BURGER ID: <%= burger_deal.burger_id %>
    <hr width="50%">


<% end %>

</h3>
<h2><li style="list-style-type: none;"><a href='burgers_deals/update'>- Update Deals -</a></li></h2>
</div>
