<form action="/add_burgersdeals" method="POST">

  <label for="deal-name-input">Deal Name:</label>
  <input id="burger-name-input" type="text" name="name" value="">

  <label for="day-select">Price:</label>
  <select class="day_id" name="day_select">
    <% @days.each do |day| %>
            <option value=<%= day.id %>><%= day.name.capitalize %></option>
        <% end %>
  </select>

  <label for="burger-input">Burger:</label>
  <input id="burger-input" type="txt" name="burger_id" value="">



  <input type="submit" name="" value="Add New Burger Deal">

</form>
