<form action="/add_burgersdeals" method="POST" style="text-align:center">
<p>
  <label for="deal-name-input">Deal Name:</label>
  <input id="burger-name-input" type="text" name="deal_name" value="">

  <label for="day-select">Day:</label>
  <select class="day_id" name="day-select">
    <% @days.each do |day| %>
            <option value=<%= day.id %>><%= day.name.capitalize %></option>
        <% end %>
  </select>

  <label for="burger-select">Burger:</label>
  <select class="burger_id" name="burger-select">
    <% @burgers.each do |burger| %>
            <options value=<%= burger.id %>><%= burger.name %></option>
        <% end %>
  </select>

  <label for="eatery-input">Eatery:</label>
  <input id="eatery-input" type="txt" name="eatery_id" value="">



  <input type="submit" name="" value="Add New Burger Deal">
</p>
</form>
