<h1 style="text-align:center">LIST OF ALL BURGERS</h1>


<div style="text-align:center">
<h2><li style="list-style-type: none;"><a href='burgers/new'>+ Add New Burger +</a></li></h2>

  <h3>
    <hr width="50%">
<% for burger in @burgers %>
   EATERY: <%= burger.eatery.name %> <br/> BURGER: <%= burger.name %> <br/> PRICE: £<%= burger.price %> 
    <hr width="50%">


<% end %>

</h3>

<h2><li style="list-style-type: none;"><a href='burgers/update'>- Update Burger -</a></li></h2>
</div>
