<form action="/add_burgers" method="POST">

  <label for="burger-name-input">Burger Name:</label>
  <input id="burger-name-input" type="text" name="name" value="">

  <label for="price-input">Price (£):</label>
  <input id="price-input" type="number" min="1" max="30" name="price" value="">

  <label for="eatery-input">Eatery:</label>
  <input id="eatery-input" type="text" name="eatery_id" value="">

  <input type="submit" name="" value="Add New Burger">

</form>
