<form action="/burgers/new" method="POST" style="text-align:center">
<p>
  <label for="burger-name-input">Burger Name:</label>
  <input id="burger-name-input" type="text" name="name" value="">

  <label for="price-input">Price (£):</label>
  <input id="price-input" type="number" min="1" max="30" name="price" value="">

<label for="eatery_select">Select Eatery:</label>
  <select name="eatery_id" id="eatery_select">
      <% @eateries.each do |eatery| %>
          <option value=<%= eatery.id %>><%= eatery.name %></option>
        <% end %>
  </select>


  <input type="submit" name="" value="Add New Burger">
</p>
</form>
